:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.square-bg {
  background-size: 1rem 1rem;
  background-position: 50% 50%;
  background-image: repeating-conic-gradient(from 0deg, #d3d3d3 0deg 90deg, #ffffff 90deg 180deg);
  transition: background-size 100ms ease-out;
}

.square-bg:hover {
  background-size: 2rem 2rem;
}

.square-bg:focus {
  background-size: 4rem 4rem;
  background-position: 0 0;
}
